.gtaskblue {
    background: skyblue;
}
.gtaskbluecomplete{
    margin-top: 0;
    background-color: royalblue;
    opacity: 1;
    height: 13px;
}
.ggroupcaption, .gcaption {
    right: auto;
    left: 5px;
    top: 3px;
    color: white;
}
.gtaskname {
    text-align: left;
}
.gantt-chart {
    width: 100%;
}
.gchartcontainer {
    height: 100%;
}
.gtaskname div {
    box-sizing: border-box;
    width: calc(100% - 5px);
    max-width: unset;
    min-width: unset;
}
.gmainleft {
    padding-bottom: 10px;
}
.gost-gantt-chart-qv-object {
    display: inline;
}
.gtasktable > tbody > tr:last-child {
    height: 40px !important;
}
.rhscrpad {
    display: none;
}